
.result-div{
    background-color:#6b6b65;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 8px;
    opacity: 0.9;
    
}

.result-div .result{
    text-align: right;
    font-size: 30px;
    font-weight: lighter;
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    right: 10px;
    
    
}
.result-buttons{
    display: flex;
}

.result-buttons .btn{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-right: 6px;

    
}

.result-buttons .btn.red{
    background-color: red;
}


.result-buttons .btn.yellow{
    background-color: orange;
}


.result-buttons .btn.green{
    background-color: #65d807;
}