
.app{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    font-family: 'josefin sans' , sans-serif;
}

.calc-wrapper{
    width: 300px;
    height: 380px;
    border-radius: 4px;
    border: none;
    overflow: hidden;
}